.cardborder {
    background-image: linear-gradient(172deg, #a07b02, #f3cf2d, #f0edde);
    width:auto;
    height: auto;
    display: fixed;
  
  
    padding: 2px 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    background-size: 100% 100%;
    margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  
  
  
  }

  .h999 {
    font-weight: bold;
    font-size: 40px;
    color: #313131;
    margin-top: 15px;

  }
  
  
  .column {
    width:50% ;
    height: 100%;
    padding-left: 20px;
    align-content: start;
    display: grid;
    flex:1
  
  }
  .column2 {
    width:100% ;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex:2
  
  
  }
  
  
  
  .btnb {
    position:relative;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #fff6da;
    color: black;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  
  .cardo {
    position: relative;
    height: auto;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr; /* Two rows: auto for the first row, 1fr for the second row */
    gap: 20px; /* Adjust the gap between the rows */
  }
  .row {
    display: flex;
    padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
    width: 100%;
    flex-direction: row;
  }
  
  .row2 {
    width: 100%;
    flex-direction: row;
  }
  
  .btnb:hover {
    background-color: #a07b029d; /* Add your desired hover color */
  }
  
  .imgslide{

position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .img{
    opacity: 0.5;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .overlayText {
    position: absolute;
    top: 50%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the text appears above the image */
    font-weight: bold;
    font-size: 40px;
    color: #08080896;
  }

  .phoneIcon {
    display: inline-block;
  }
  
  .normalIcon,
  .hoverIcon {
    width: 40px; /* Adjust this value to set the width of the phone icons */
    height: 40px; /* Adjust this value to set the height of the phone icons */
  }
  
  .hoverIcon {
    display: none; /* Initially hide the hover icon */
  }
  
  .phoneIcon:hover .normalIcon {
    display: none; /* Hide normal icon on hover */
  }
  
  .phoneIcon:hover .hoverIcon {
    display: inline-block; /* Display hover icon on hover */
  }

  .messIcon {
    display: inline-block;
  }
  
  .normalIcon2,
  .hoverIcon2 {
    width: 42px; /* Adjust this value to set the width of the phone icons */
    height: 42px; /* Adjust this value to set the height of the phone icons */
  }
  
  .hoverIcon2 {
    display: none; /* Initially hide the hover icon */
  }
  
  .messIcon:hover .normalIcon2 {
    display: none; /* Hide normal icon on hover */
  }
  
  .messIcon:hover .hoverIcon2 {
    display: inline-block; /* Display hover icon on hover */
  }
.divContact{

  display: flex;
  margin: auto;
  padding: 8px 18px;
  z-index: 2; /* Ensure the phone icon appears above the image and text */
  background-color: #a8a8a88a ;

  border-radius: 20px;
}
  

.clm2{
  height:350px;
  width: 60%;
  background-color: #534e63;
  border-radius: 11px;
  display:flex;
  flex-direction: column;
}

.rowicons2{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 35px;
  column-gap: 17px;

}
.rowicons1{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 25px;
  column-gap: 17px;


}
.contdv{
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.child {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2); /* Max width of each child */
  height:350px;
  background-color: rgb(255, 255, 255); /* Just for visualization */
align-items: center;
margin: 20px;
}


.pLocation {
  color: rgb(34, 29, 29);
  margin-top: 40px;
  font-weight: bold;
}
.pLocation2 {
  color: rgb(34, 29, 29);
  margin-top: 10px;
  font-weight: bold;
}
.pLocation:hover {
  color :#CAA131 ;
}
.rowicons3{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;


}
.rowicons4{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;


}
.ic{
  height: 90px;
  width: 90px;
}

.vLine {
width: 1px;
  height:350px;
  background-color: rgb(172, 172, 172); /* Just for visualization */
  margin-top: 20px;

}
.rowicons3 .pLocation {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 5px;


}
.rowicons4 .pLocation2 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 25px;

}
@media screen and (max-width: 767px) {

  .vLine {

height: 0px;
    
    }
  .h999 {
    font-size: 40px;
    color: #000000;
margin-top: 10px;
  }
  .p999 {
    font-size: 18px;
  }

  .clm2{
    height:350px;
    width: 90%;
    background-color: #2c2902dc;
    border-radius: 11px;
    display:flex;
    flex-direction: column;
  }
  .contdv{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  
  .child {
    display: flex;
    flex-direction: column;
    width: 100% ; /* Max width of each child */
    height:350px;
align-items: center;  
margin-top: 10px;

  }

  .rowicons3 {
    font-size: 18px;
    color: #979797;
    margin-top: 0px;




  }
  .rowicons3 .pLocation {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 5px;


  }
  
  .pLocation:hover {
    color :#CAA131 ;
  }
  .rowicons3{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
  
  
  }

.ic{
  max-width: 70px;
  max-height: 70px;
}
}
