.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 17);
    align-items: flex-start; /* Align items at the start of the cross axis */
  }
  
  .mainP {
    flex: 2; /* Take up 2/3 of the available space */
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .img {
    display: flex;
    flex: 1; /* Take up 1/3 of the available space */
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    height: 410px;
    max-width: 100%; /* Ensure the image does not exceed its container */
    justify-content: center;
}
.img2 {

    border-radius: 8px;
    height:410px;
    max-width: 100%; /* Ensure the image does not exceed its container */
}

  


.title2{

    font-weight: bold;
    font-size: 31px;
color: #ffffff;
}



.paragraph{

    align-self: start;
    color: #dfdfdf;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 500;
    
font-size: 15px;


}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center; /* Align items at the start of the cross axis */
    }
    .mainP,
    .img {
        flex: 1; /* Take up equal space in row layout */
        margin: 3%; /* Remove margins for equal spacing */
    }

}