@tailwind base;
@tailwind components;
@tailwind utilities;

/* All  */
::selection {
  background-color: #caa200; /* Set the background color */
  color: #000000; /* Set the text color */
}


a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

a:hover {
  color :#CAA131 ;
}

img {
  cursor: pointer;

}
/* __________________________________  */



.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}




@media screen and (max-width: 640px) {
  .text-3xl {
    font-size: 1.125rem;
  }


}

/* CSS for the parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* Default, for small screens */
  gap: 2rem; /* Adjust as needed */
  padding: 1rem; /* Adjust as needed */
  justify-items: center;
}

/* Responsive styles for medium screens (md) */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }


}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }


}


/* Responsive styles for large screens (lg) */
@media (min-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Margin styles */
.mx-10 {
  margin-left: 2.5rem; /* Adjust as needed */
  margin-right: 2.5rem; /* Adjust as needed */
}

/* Utility class for setting padding */
.p-4 {
  padding: 1rem; /* Adjust as needed */
}

.line{
  width: auto;
}

/* Invest Section  */

.containerimg {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-invest{
  background-color : #CAA131 ;
  color: #000000;
  border-radius: 5px;
}
.btn-invest:hover {
  background-color : #caa131c9 ;
}

/* __________________________  */

/* index section */




.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlayText {
  position: absolute;
  margin-left: 15%;
  left: 0px;
  z-index: 2;
  font-weight:400 ;
  font-size: 30px;
  color: #ffcc00c9;
}
.overlayText2 {
  position: absolute;
margin-left: 15%;
left: 0px;
  z-index: 2;
  font-weight: bold;
  font-size: 40px;
  color: #ffcc00;

}.overlayText3 {
  position: absolute;
  margin-left: 15%;
  left: 0px;
  top:50% ;
  z-index: 2;
  font-weight :400;
  font-size: 26px;
  color: #ffffff;

}
.overlayButton{
  position: absolute;
  z-index: 3;
  background-color : #CAA131 ;
  color: #000000;
  font-weight: 700;
  border-radius: 5px;
  bottom: 10%;
  margin-left: 15%;
  left: 0px;
  font-size: 22px;
}

.overlayButton:hover{
  background-color : #f0b619 ;

}

.overlayimg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  opacity: 0.3;
}

.arrow-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  color: #ffffff;
}

.prev-icon,
.next-icon {
  height: 50px;
  cursor: pointer;
}

/* Optional: Style the icons as needed */
.prev-icon:hover,
.next-icon:hover {
  color: #ffcc00; /* Change the color on hover */
}


.imgslide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; /* Set the desired height for the container */
  overflow: hidden; /* Ensure the content doesn't overflow */
}
/* Styles for medium-sized devices and larger */
@media screen and (min-width: 768px) {

  .MapPro{
  
    height: 500px;
    margin: auto;
    width: 90%;
  }


  .overlayText {
    margin-left: 19%;
    left: 0px;

    font-weight:400 ;
    font-size: 35px;
  }
  .overlayText2 {
  margin-left: 19%;
  left: 0px;
    font-weight: bold;
    font-size: 43px;
  
  }.overlayText3 {
    margin-left: 19%;
    left: 0px;
    top: 30%;
    z-index: 2;
    font-weight: 400;
    font-size: 34px;
  }
  .imgslide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Set the desired height for the container */
    overflow: hidden; /* Ensure the content doesn't overflow */
  }
  .overlayButton{
  
    margin-left: 19%;
    left: 0px;
  }
  
}






@media screen and (min-width: 1024px) {

  .MapPro{
  
    height: 680px;
    margin: auto;
    width: 90%;
  }

  .overlayText {
    margin-left: 24%;
    left: 0px;


    font-weight:400 ;
    font-size: 39px;
  }
  .overlayText2 {
    margin-left: 24%;
  left: 0px;
    font-weight: bold;
    font-size: 50px;
  
  }.overlayText3 {
    margin-left: 24%;
    left: 0px;
    top : 35% ;
    z-index: 2;
    font-weight: 400;
    font-size: 37px;
  }
  .overlayButton{
  
    margin-left: 24%;
    left: 0px;
  }
}


@media screen and (min-width: 1500px) {
  .MapPro{
  
    height: 800px;
    margin: auto;
    width: 90%;
  }

  .overlayText {
    margin-left: 22%;
    left: 0px;

    font-weight:500 ;
    font-size: 45px;
  }
  .overlayText2 {
    margin-left: 22%;
    margin-top: 20px;
  left: 0px;

    font-weight: bold;
    font-size: 60px;
  
  }.overlayText3 {
    margin-left: 22%;
    left: 0px;
    top : 40% ;

    z-index: 2;
    font-weight: 400;
    font-size: 42px;
  }
  .overlayButton{
  
    margin-left: 0%;
    left: 45%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 27px;
  }
}

.full-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
  border: 1px solid rgb(163, 163, 163); /* Optional: Add a border for better visibility */
}

.arrow-icons2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  z-index: 2000;
  justify-content: space-between;
  color: #ffffff;
}

.mainText{
  font-weight: bold;
  font-size: xx-large;
}

.descText{
margin-top: 15px;
}
.smmap{
  margin-top: 40px;
  margin-bottom: 30px;

  display: flex;

  }
.mdmap{
  margin-top: 25px;

  display: none;
}
.lgmap{
  margin-top: 25px;
  display: none;
}

@media screen and (max-width: 767px) {


  .divth{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 5px;
justify-content: center;

}

  .imgmth{
    max-width: 95%;
  
  }
  .imgth{
    width: 100px;
    cursor: pointer;
  }
  .conth{
  width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .maindiv{
    display: flex;
    flex-direction: column;
  
  }
  
  .secdiv{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;

  }
  
}

/* Responsive styles for screens between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .smmap{

    display: none;
  
    }
  .mdmap{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
  }
  .lgmap{

    display: none;
  }


  .divth{
    display: flex;
    margin-top: 10px;

    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 5px;
justify-content: center;
  
  }
  .imgmth{
    max-width: 90%;
    margin: 0px 0px 5px 0px;
  
  }
  .imgth{
    width: 100px;
    margin-right: 5px;
    cursor: pointer;
  }
  .conth{
  width:50% ;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-left: 1.5%;
    margin-right: 0.5%;
  }
  .maindiv{
    display: flex;
    flex-direction: row;
  
  }
  
  .secdiv{
    margin-top: 20px;
    margin-right: 1.5%;
    margin-left: 0.5%;
  
  height: 50%;
  width:50% ;
  }
  
}

/* Responsive styles for screens larger than 1024px */
@media screen and (min-width: 1025px) {

  .smmap{

  display: none;

  }
.mdmap{
  display: none;
}
.lgmap{
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
}


  .divth{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 5px;
justify-content: start;

  
  }
  .imgmth{
    max-width: 90%;
    margin: 0px 0px 5px 0px;
  
  }
  .imgth{
    width: 100px;
    margin-right: 5px;
    cursor: pointer;
  }
  .conth{
  width:50% ;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-left: 1.5%;
    margin-right: 0.5%;
  }
  .maindiv{
    display: flex;
    flex-direction: row;
  
  }
  
  .secdiv{
    margin-top: 20px;
    margin-right: 1.5%;
    margin-left: 0.5%;
  
  height: 50%;
  width:50% ;
  }
  
}


.features-box{
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: #f0b619;
  height: 200px;
  width: 200px;
  display:flex ;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.allFeaturesBoxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boxlint{

}


@media screen and (max-width: 768px) {

  .MapPro{
    width: 90%;
  margin: auto;
    height: 350px;
  }


}



